current_env: dev

dev:
  iot_endpoint: ""
  ca_path: ""
  key_path: ""
  cert_path: ""
  role_alias: ""
  region: ""
  session_duration_sec: 3600
  cache_buffer_minutes: 5
  max_retries: 3 
  retry_delay_ms: 1000 # this should be same as Role Alias Sessions duration set in AWS